# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.production
src/structure/config/configbot/.env

# Database files
src/structure/databases/bases/*.json

# IDE files
.vscode/
.idea/